* {
  box-sizing: border-box;
}

@mixin -c-white {
  color: white;
}

.btn {
  @include -c-white();
  text-decoration: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}


.SideBar {
  width: 280px;
  background-color: rgb(38, 2, 54);
  &__top {
    height: 150px;
    background-color: rgb(96, 1, 137);
    display: flex;
    align-items: center;
  }
  .User {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    &__name {
      @include -c-white();
      font-size: 20px;
    }
    .icons {
      display: flex;
      .icon {
        margin-left: 10px;
        @include -c-white();
      }
    }
  }
  .GroupList {
    height: calc(100vh - 150px);
    overflow: scroll;
  }
}

.ChatMenu {
  width: calc(100vw - 280px);
  .ChatGroup {
    background-color: rgb(101, 25, 139);
    &__container {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      @include -c-white();
    }
    &__name {
      margin-bottom: 20px;
    }
    &__edit {
      border: 1px white solid;
      p{
        padding: 20px 30px;
        display: block;
      }
    }
  }
}
.Chat__messageList {
  background-color: rgb(166, 126, 186);
  height: calc(100vh - 150px - 100px);
  overflow: scroll;
}

.Form {
  background-color: rgb(69, 6, 100);
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 30px 20px 30px;
  &__contents {
    position: relative;
    width: 100%;
    &__text {
      height: 50px;
      border: none;
      width: 100%;
    }
    &__image {
      height: 50px;
      position: absolute;
      right: 10px;
      line-height: 50px;
      font-size: 25px;
      .hidden {
        display: none;
      }
    }
  }
  .submit__btn {
    margin-left: 15px;
    height: 50px;
    padding: 0 30px;
    background-color: white;
    font-size: 16px;
    border: none;
  }
}

